* {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-style: normal;
    margin: 0;
    padding: 0px;
    border: border-box;
    font-weight: 500;

}

.clearfix {
    clear: both;
}

.logo {
    background-image: url(img/pot.png);
    height: 50px;
    width: 100%;
    background-size: cover;
}

.nav-logo {
    height: 50px;
    width: 100px;

}

.nav-icons {
    font-family: sans-serif;
    display: flex;
    align-items: center;
}

.nav-icons p {
    margin-left: 30px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}

.add-icon {
    margin-left: 30px;
    color: brown;
    font-size: 25px;
}

.navbar {
    height: 60px;
    display: flex;
    justify-content: space-around;
}

header {
    height: 60px;
    background-color: white;
    color: black;
}

.sticky {
    position: fixed;
    top: 0;
    width: 100%;
    margin-top: 0px;
    background: var(--stickyheader);
    z-index: 999999;
}

.container {
    /* width: 1200px; */
    max-width: 100%;
    margin: 0 auto;
}

.col-div-3 {
    width: 25%;
    float: left;
    display: flex;
    gap: 20px;
    flex-direction: column;

}

.col-div-4 {
    width: 100%;
    float: left;
}

.col-div-6 {
    width: 20%;
    float: right;
}

.col-div-8 {
    width: 67%;
    float: left;
}

.banner {
    background: url("img/vase.jpg");
    height: 100vh;
    background-size: 100%;
    background-position: bottom -50px center;
    position: relative;
    margin-top: 10px;
    z-index: -1;
    background-size: cover;
    color: white;
}

.menu-icon {
    display: none;
    background-size: cover;
}

.buy {
    padding: 9px 40px;
    font-size: 18px;
    line-height: 30px;
    font-weight: 400;
    letter-spacing: .5px;
    border: none;
    background: var(--main-color);
    color: white;
    background-color:brown;
}

.sicon {
    font-size: 25px;
    margin-right: 25px;
    color: var(--light-font);
}

.ban-content {
    position: absolute;
    top: 45%;
    text-align: center;
    margin-left: 300px;
}

.ban-content h1 {
    color: var(--white);
    font-size: 55px;
    letter-spacing: 3px;
    margin-bottom: 20px;
}

.ban-content p {
    color: var(--light-font);
    letter-spacing: 1px;
    line-height: 25px;
    width: 600px;
    margin-bottom: 20px;
}

.section-one {
    background-size: cover;
    padding: 70px 0px;
    display: flex;
}

.p1 {
    color: var(--light-font);
    font-weight: 400;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.heading-1 {
    font-size: 35px;
    color: var(--white);
    font-weight: 600;
}

.para-1 {
    font-size: 15px;
    color: var(--light-font);
    line-height: 25px;
    padding: 20px 0px;
    font-weight: 400;
    letter-spacing: .5px;
}

.new {
    width: 30%;
    float: left;
    margin-left: 200px;
}
.p1{
    font-weight: 600;
}

/* .img-box { */
    /* width: 40%; */
    /* float: left; */
    /* margin-right: 200px; */
/* } */


.half{
    width:35%;
    height:35%;
    display: flex;
    padding: 0%;
}

.img-1 img {
    width: 100%;
    height: 50%;
}

.img-2 img {
    width: 100%;
    height: 50%;
 
}

.img-3 img {
    width:100%;
    display: flex;
    height: 100%;
}
.img-3{
    gap:8px;
}

.section-two {
    height: auto;
    background-color: lightgrey;
    padding: 80px 80px;
    display: flex;
}

.image {
    vertical-align: middle;
    width: 50px;
    height: 50px;
    border-radius: 50%;
}
.image-box{
    height: 20%;
}

.our {
    width: 25%;
    float: left;
    background: var(--background);
    height: 300px;
    margin: 5px;
    margin-top: 20px;
    margin-left: 50px;
}

.our img {
    display: flex;
    align-items: center;
    margin-top: 20px;
}

.h5 {
    text-align: center;
    display: flex;
    margin-top: 20px;
    font-weight: 600;
}

.pp {
    text-align: center;
    display: flex;
}

.mybox {
    margin-left: 150px;
    padding: 0%;
}

.our-box {
    width: 30%;
    float: left;
    background: var(--background);
    height: 300px;
    margin: 5px;
    margin-left: 8px;
    background-size: cover;

}

.our-box img {
    display: flex;
    height:250px;
    width:100%
}

.box {
    padding-left: 0%;
}
.box h5{
    font-weight: 600;
}

.workshop{
    width:40%;
}
.img-box{
    width:40%;
}
.img-box img{
    width:100%;
    background-size: cover;
}
.container-3{
    display: flex;
    max-width: 100%;
    margin: 0 150px;
    gap: 5rem;
    flex-direction: row-reverse;
}

.collegues {
    display:flex;
    margin-left: 80px;
    margin-right: 80px;
    gap:100px;
    text-align: center;
}

.fa-brands {
    font-family: 'fontawesome';
}

.column {
    float: left;
    width: 20%;
    padding: 5px;
    box-sizing: content-box;
    margin-left: 100px;
    height: 5px;
    margin-top: 5px;
}

.row {
    height: 2px;
}

.our-box img {
    width: 100%;
    border-radius: 5px 5px 0px 0px;
}

.our-content {
    padding: 30px;
}

.our-content h3 {
    color: var(--white);
    letter-spacing: 1px;
    font-weight: 600;
}

.our-content p {
    margin-top: 15px;
    color: var(--light-font);
    line-height: 25px;
    font-weight: 400;
}

.section-three {
    padding: 100px 0px;
    background: var(--background);
    margin-left: 50px;
    height:auto;
}
.section-four{
    height: auto;
    padding: 80px 80px;
    display: flex;
    background-color: lightgrey;
}

.para-2 {
    font-size: 15px;
    color: var(--light-font);
    line-height: 25px;
    padding: 20px 0px;
    font-weight: 400;
    letter-spacing: .5px;
    /* width: 485px; */
}

.s-box {
    width: 45%;
    float: left;
    padding: 15px;
    text-align: center;
}

.isbox {
    font-size: 30px;
    margin-bottom: 15px;
    color: var(--main-color);
}

.s-box h3 {
    color: var(--white);
    font-size: 25px;
    margin-bottom: 20px;
}

.s-box p {
    color: var(--light-font);
    font-weight: 400;
    line-height: 25px;
}

.bottom {
    position: absolute;
    margin-top: 100px;
    float: left;
    margin-left: 150px;

}
.container-5{
    display: flex;
    margin-left: 200px;
    margin-top:50px;
}
.gallery{
    display: flex;
    justify-content: center;
    gap: 8px;
    width:50%;
    height:70%; 

}
.images-col-1{
    gap:8px;
}
.images-col-2 {
    width:50%;
    display: flex;
    flex-direction: column;
    gap: 8px;
}
.images-col-3 {
    width:30%;
    height:30%;
    display: flex;
    gap: 8px;
}
.images-col-1 img{
    width:100%;
    height:91%;
}
.image-1{
    height: 45%;
}
.image-1 img{
    width:63%;
    height:100%;
}

.images-col-3 img{
    width:100%;
    height:100%;
}

.bottom h1 {
    color: var(--white);
    font-size: 55px;
    letter-spacing: 3px;
    margin-bottom: 20px;
}

.bottom p {
    color: var(--light-font);
    letter-spacing: 1px;
    line-height: 25px;
    width: 400px;
    margin-bottom: 20px;
}

footer {
    background: var(--background);
    padding: 70px 0px 0px 0px;
}

.para-3 {
    font-size: 15px;
    color: var(--light-font);
    line-height: 25px;
    margin-top: 10px;
    font-weight: 400;
    letter-spacing: .5px;
    width: 285px;
}

.new-box input {
    padding: 15px;
    width: 62%;
    background: #53453c;
    border: none;
    border-radius: 5px 0px 0px 5px;
    outline: none;
    margin-top: 20px;
}

.new-box i {
    padding: 10px 15px;
    background: var(--main-color);
    font-size: 22px;
    height: 27px;
    color: var(--white);
    border-radius: 0px 5px 5px 0px;
    cursor: pointer;
}

.foot-bottom {
    background: var(--darkbrown);
    background-color: lightgray;
    display: flex;
}

.foot-bottom p {
    text-align: center;
    color: var(--light-font);
    font-weight: 400;
    margin-left: 200px;
}

.foot {
    display: flex;

}

.container-inner{
    max-width: 1260px;
}
